.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.techIcon {
  font-size: 4rem;
  margin: 15px;
  padding: 2rem 4rem;
  opacity: 0.93;
  border: 1.7px solid dodgerblue;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: .5px .2px 2px 1px rgb(19, 60, 100);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  line-height: 0;

  &:hover {
    transform: scale(1.05);
    overflow: hidden;
  }
}